<html>
    <head>
        <title>PHP Webinar site</title>
        <link rel="stylesheet" href="./dist/style.css">
    </head>
    <body>
        <header>
            <h1>We are doing a cool PHP Webinar</h1>
            <h2>Here are the most popular CMS</h2>
        </header>

        <p>
            <ul>
            {{# cmsList }}
                <li>{{ . }}</li>
            {{/ cmsList }}
            </ul>
        </p>

        <footer>
            <p>Deployed by Buddy CI/CD</p>
        </footer>
    </body>
</html>
